<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edycja Auta </title>
    <link  th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar">
    <a th:href="adminPanel">START</a>
    <a th:href="auta">AUTA</a>
    <a th:href="pracownicy" >PRACOWNICY</a>
    <a href="statystyki">STATYSTYKI</a>
    <a href="przychody">PRZYCHODY</a>
    <div class="dropdown">
        <button class="dropbtn">WYBIERZ KONKRETNY ODDZIAŁ
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:action="@{/allCarsFactory}" th:method="get">Bydgoszcz</a>
            <a href="torun">Toruń</a>
            <a href="gdansk">Gdańsk</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">ZLECENIA
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{/zleceniaPracownicze}">PRACOWNICY</a>
            <a th:href="@{/zleceniaAuta}">AUTA</a>
        </div>
    </div>
</div>
<h1>Szczegółowe informacje dotyczące auta <td><span th:text="${car.marka}"/> <td><span th:text="${car.model}"/> </td>  </h1>


<form th:action="@{'/auta/'+${car.idSamochod}+'/edit/'}" method="post" th:object="${car}">
    <h2>Personal details</h2>
    <table>
        <tr>
            <p>(*)Podaj login:</p>
            <input type="text" th:name="model"/><br>

        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>

</body>
</html>