<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panel Klienta</title>
</head>
<body>
<div>Witaj, <div th:text="${imie}"></div>
<p>Tutaj będą wszystkie opcje klienta</p>
<p>- wynajęcia wybranego modelu auta <br>
    - anulowanie, reklamacja usługi<br>
    - przejrzenia ofert wypożyczalni dla wybranego oddziału<br>
    - wyszukanie oddziałów dostępnych w mieście<br>
    Klient będzie z poziomu strony wybierać funkcjonalność, a następnie zgodnie z formularzem ją będzie wypełniał aby zadział się określony efekt:
    Wynajęcie auta:<br>
    - Widoczny formularz z następującymi polami:<br>
    Marka ,model, moc, spalanie auta, cena za dzień, początek wynajmu auta, koniec wynajmu auta</p>

</body>
</html>