<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body{
            background-image: url("../image/car.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;}
    </style>
    <meta charset="UTF-8">
    <title>Reklamacja</title>
    <link  th:href="@{/css/clientStyle.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar">
    <a href="../" >Strona główna</a>
    <a href="listCars">Lista samochodów</a>
    <a href="clientPanel">Wróc do panelu klienta</a>
    <a href="./" >Cofnij</a>
</div>
<br>
<!-- formularz do wypelnienia, zeby wynajac auto) -->
<h1>Twoje wypożyczone samochody: </h1>
</h2>
<table bgcolor="silver" align="center">
    <thead>
    <tr>
        <th> Marka </th>
        <th> Model </th>
        <th> Rocznik </th>
        <th> Numer Rejestracyjny </th>
        <th> Kolor </th>

    </tr>
    </thead>
    <tbody>
    <!--<form th:action="@{/accept}" method="post">-->
    <tr th:if= "${klient.idKlient==wypozyczen.KlientKtoryWypozyczylAuto.idKlient}" th:each="wypozyczen : ${wypozyczenia}">
        <td th:text="${wypozyczen.wypozyczonySamochod.model}"></td>
        <td th:text="${wypozyczen.wypozyczonySamochod.marka}"></td>
        <td th:text="${wypozyczen.wypozyczonySamochod.rocznik}"></td>
        <td th:text="${wypozyczen.wypozyczonySamochod.numerRej}"></td>
        <td th:text="${wypozyczen.wypozyczonySamochod.kolor}"></td>
        <td><a th:href="@{'/myCars/'+ ${wypozyczen.wypozyczonySamochod.idSamochod}}"><button>Oddaj samochód</button></a></td>
        <td><a th:href="@{'/complaint/'+ ${wypozyczen.wypozyczonySamochod.idSamochod}}"><button>Reklamuj/anuluj</button></a></td>


        <!--<td><a th:href="@{'/myCars/'+ ${samochod.idSamochod}}"><button>Oddaj samochód</button></a></td>
        <td><a th:href="@{'/complaint/'+ ${samochod.idSamochod}}"><button>Reklamuj/anuluj</button></a></td>-->

    </tr>
    <!--</form>-->
    </tbody>
</table>




</form>
</table>
</body>
</html>