<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body{
            background-image: url("../image/car.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;}
    </style>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link  th:href="@{/css/clientStyle.css}" rel="stylesheet"/>
   <!-- <img src="../image/car.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
    <img src="../image/car.jpg" alt="HTML5 Icon" width="128" height="128"> -->

</head>
<body >
<div class="navbar">
    <a href="../" >Strona główna</a>
    <a href="clientPanel" >Zaloguj się/Przejdź do panelu klienta</a>
    <a href="register" >Stwórz konto</a>
    <a href="adminPanel">Panel Admin</a>

</div>
<h1>Wypożyczalnia samochodów</h1>
<div>Witaj w naszej wypożyczalni samochodów!</div></div>
<h5> TODO: Wejscie do panel admina powinno byc zablokowane jakims haslem, albo rolą ROLE_ADMIN czy cos.</h5>

</body>
</html>