<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body{
            background-image: url("car.jpg")}
    </style>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body >
<center>
<h1>Wypożyczalnia samochodów</h1>
<div>Witaj w naszej wypożyczalni samochodów!</div></div>

    <!--<div th:text="${imie}"
    <img th:src="@{/image/car.jpg}"/>
    <img src="/static/image/car.jpg" /> -->
    <div th:style="'background:url(' + @{/image/car.jpg} + ');'"></div>
    <br>
    <p>Nie posiadasz jeszcze konta? Nie przejmuj się! W bardzo prosty sposób je założysz, a potrzebujesz je aby uzyskać dostęp do panelu wypożyczeń</p><br>
    <button><a href="register">Stwórz konto</a></button><br>
    <p>Jesteś już naszym klientem? Zaloguj się używając poniższego przycisku!</p><br>
    <button><a href="logins">Zaloguj się</a></button><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <button><a href="panelAdmin">Panel admin</a></button><br>


</center>
</body>
</html>