<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body{
            background-image: url("../image/car.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            text-align-all: center;}
    </style>
    <meta charset="UTF-8">
    <title>Wynajmij auto</title>
    <link  th:href="@{/css/clientStyle.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar">
    <a href="../" >Strona główna</a>
    <a href="../clientPanel">Wróc do panelu klienta</a>
    <a href="myCars">Twoje samochody</a>
</div>

<h1>Wypożyczono pomyślnie</h1>




</div>
</body>
</html>