<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body{
            background-image: url("../image/cars.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;}
    </style>
    <meta charset="UTF-8">
    <title>Panel Administratora</title>
    <link  th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
</head>
<body>


<div class="navbar">
    <a th:href="@{/auta/}">AUTA</a>
    <a th:href="@{/allEmployee/}" >PRACOWNICY</a>
    <a th:href="@{/statystyki/}">STATYSTYKI</a>
    <a th:href="@{/przychody/}">PRZYCHODY</a>
    <div class="dropdown">
        <button class="dropbtn">WYBIERZ KONKRETNY ODDZIAŁ
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{/factory/1}">BYDGOSZCZ</a>
            <a th:href="@{/factory/2}">TORUŃ</a>
            <a th:href="@{/factory/3}">GDAŃSK</a>
            <a th:href="@{/adminPanel/}">WSZYSTKIE NARAZ</a>
        </div>

    </div>
    <a th:href="@{./}">COFNIJ</a>
</div>
<h1>Witaj Administratorze </h1>
<h2> Z tego miejsca masz podgląd  na wszystkie funkcjonalności</h2>
<td><button id="guzik"><a th:href="@{/addCar/}">Dodaj auto</a></button></td>
</body>
</html>