<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie Auta</title>
    <link  th:href="@{/css/adminStyle.css}" rel="stylesheet"/>
</head>
<body>

<div class="navbar">
    <a th:href="@{/adminPanel/}">HOME</a>
    <a th:href="@{/auta/}">AUTA</a>
    <a th:href="@{/pracownicy/}">PRACOWNICY</a>
    <a th:href="@{/statystyki/}">STATYSTYKI</a>
    <a th:href="@{/przychody/}">PRZYCHODY</a>
    <div class="dropdown">
        <button class="dropbtn">WYBIERZ KONKRETNY ODDZIAŁ
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:href="@{/factory/1}">BYDGOSZCZ</a>
            <a th:href="@{/factory/2}">TORUŃ</a>
            <a th:href="@{/factory/3}">GDAŃSK</a>
            <a th:href="@{/adminPanel/}">WSZYSTKIE NARAZ</a>
        </div>
    </div>
</div>


<table>
    <thead>
    <tr>
        <th> Marka </th>
        <th> Model </th>
        <th> Rocznik </th>
        <th> Numer Rejestracyjny </th>
        <th> Kolor </th>
        <th> Oddział </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${samochody.empty}">
        <td colspan="2"> Brak Aut </td>
    </tr>
    <tr th:each="samochod : ${samochody}">
        <td><span th:text="${samochod.marka}"> Marka </span></td>
        <td><span th:text="${samochod.model}"> Model </span></td>
        <td><span th:text="${samochod.rocznik}"> Rocznik </span></td>
        <td><span th:text="${samochod.numerRej}"> Numer Rejestracyjny </span></td>
        <td><span th:text="${samochod.kolor}"> Kolor </span></td>
        <td><span th:text="${samochod.czyWypozyczone}"> Status </span></td>
        <td><span th:text="${samochod.samochod_oddzialu.miejscowosc}"> Oddział </span></td>
        <td><a th:href="@{register}">Edytuj</a></td>
        <td><a th:href="@{register}">Usun</a></td>
        <td><a th:href="@{'/auta/'+ ${samochod.idSamochod}}">Pokaz szczegóły</a></td>
        <!--<td><a th:href="@{'/appel/edit/' + ${appel.id}}">edit</a></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>